.client {
  margin-top: 100px;
  .container {
    .row {
      .col:nth-of-type(1) {
        @media (max-width: 900px) {
          text-align: center;
        }
      }
      @media (max-width: 800px) {
        flex-direction: column;
        gap: 100px;
      }
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 80px;
      .title {
        font-weight: bold;
        font-size: 40px;
        font-weight: bold;
        + p {
          width: 350px;
          @media (max-width: 900px) {
            width: 100%;
          }
          color: gray;
        }
      }
      .col.sponsors {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
      }
    }
  }
}
